body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}
* {
  font-family: 'Inter', system-ui;
}
.button {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}
.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}
header {
  padding: 40px;
  border-bottom: 1px solid #eaeaea;
  .logo-sneakers {
    margin-right: 15px;
  }
  h3,
  p {
    margin: 0px;
  }
  span {
    margin-left: 10px;
  }
  
}

.favorite {
  position: absolute;
  cursor: pointer;
}
.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;
  .clear {
    position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
    top: 13px;

  }

  input {
    border: 0px;
    padding: 13px;
    font-size: 16px;
  }
}
.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 30px;
  width: 420px;
  height: 100%;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.06);
  h2 {
    margin: 0;
    font-size: 24px;
    svg {
      cursor: pointer;
    }
  }
  .items {
    flex: 1;
    overflow: auto;
    margin-bottom: 40px;
  }
}
// .cartItem {
//   border: 1px solid #f3f3f3;
//   border-radius: 20px;
//   overflow: hidden;
//   padding: 10px;
//   p {
//     font-size: 16px;
//   }
//   b {
//     font-size: 14px;  
//   }
// }
.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  b {
    font-size: 14px;
  }

  .removeBtn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}


.cartTotalBlock {
  ul {
    margin-bottom: 40px !important;
  }
  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
    position: relative;
    top: -4px;
    margin: 0 7px;
  }
  .greenButton {
    svg {
      position: absolute;
      right: 90px;
      top: 20px;
      transition: transform .2s ease-in-out;
    }
    &:hover {
      svg {
        transform: translateX(10px);
      }
    }
    
  }
}

.greenButton {
    position: relative;
    width: 100%;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    &:hover {
      background: lighten($color: #9dd558, $amount: 5%);
    }
    &:active {
      background: darken($color: #9dd558, $amount: 5%);
    }
    span {
      margin-right: 10px;
    }
}

// .removeBtn {
//   opacity: 0.5;
//   cursor: pointer;
//   &:hover {
//     opacity: 1;
//   }
// }
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}